<!DOCTYPE html>
<html>
  <head>
    <title>Paus</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style type="text/css">
     .monospace {
       font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
     }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><a href="/users/{{ .user }}">{{ .user }}</a>/{{ .app }}</h1>
      {{ if .error }}
      <div class="alert alert-danger" role="alert">
        {{ .message }}
      </div>
      {{ end }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">URL list</h3>
        </div>
        <div class="panel-body">
          {{ if .error }}
          {{ else }}
          {{ if ne .latestURL "" }} <!-- TODO: len(.urls) -->
          <div class="list-group">
            <a class="list-group-item" href="{{ $.latestURL }}" target="_blank">{{ .latestURL }}</a>
            {{ range .urls }}<a class="list-group-item" href="{{ . }}" target="_blank">{{ . }}</a>{{ else }}Not found URL{{ end }}
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Build-time variables</h3>
        </div>
        <div class="panel-body">
          {{ if .error }}
          {{ else }}
          <table class="table">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              {{ range $key, $value := .buildArgs }}
              <tr>
                <form method="POST" action="/users/{{ $.user }}/apps/{{ $.app }}/build-args/delete">
                  <input type="hidden" name="key" value="{{ $key }}">
                  <td>
                    <input type="text" class="form-control monospace" value="{{ $key }}" disabled>
                  </td>
                  <td>
                    <input type="text" class="form-control monospace" value="{{ $value }}" disabled>
                  </td>
                  <td class="pull-right">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                  </td>
                </form>
              </tr>
              {{ end }}
              <tr>
                <form class="form-inline" method="POST" action="/users/{{ .user }}/apps/{{ .app }}/build-args">
                  <td>
                    <input type="text" class="form-control monospace" name="key" placeholder="KEY">
                  </td>
                  <td>
                    <input type="text" class="form-control monospace" name="value" placeholder="VALUE">
                  </td>
                  <td class="pull-right">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
                  </td>
                </form>
              </tr>
            </tbody>
          </table>
          {{ end }}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Environment variables</h3>
        </div>
        <div class="panel-body">
          {{ if .error }}
          {{ else }}
          <table class="table">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{ range $key, $value := .envs }}
              <tr>
                <form method="POST" action="/users/{{ $.user }}/apps/{{ $.app }}/envs/delete">
                  <input type="hidden" name="key" value="{{ $key }}">
                  <td>
                    <input type="text" class="form-control monospace" value="{{ $key }}" disabled>
                  </td>
                  <td>
                    <input type="text" class="form-control monospace" value="{{ $value }}" disabled>
                  </td>
                  <td class="pull-right">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                  </td>
                </form>
              </tr>
              {{ end }}
              <tr>
                <form class="form-inline" method="POST" action="/users/{{ .user }}/apps/{{ .app }}/envs">
                  <td>
                    <input type="text" class="form-control monospace" name="key" placeholder="KEY">
                  </td>
                  <td>
                    <input type="text" class="form-control monospace" name="value" placeholder="VALUE">
                  </td>
                  <td class="pull-right">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
                  </td>
                </form>
              </tr>
            </tbody>
          </table>
          {{ end }}
        </div>
        <div class="panel-footer">
          {{ if .error }}
          {{ else }}
          <form class="form-inline text-right" enctype="multipart/form-data" method="POST" action="/users/{{ .user }}/apps/{{ .app }}/envs/upload">
            <div class="form-group">
              <input type="file" id="dotenvInput" name="dotenv">
            </div>
            <button type="submit" class="btn btn-primary">Upload .env</button>
          </form>
          {{ end }}
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
