<!DOCTYPE html>
<html>
  <head>
    <title>Paus</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Paus</h1>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="usernameInput">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="usernameInput" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pubkeyInput">SSH public key</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="pubkeyInput" placeholder="SSH public key"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
