<!DOCTYPE html>
<html>
  <head>
    <title>Paus</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/octicons.css">
  </head>
  <body>
    {{ template "navbar" . }}

    <div class="container">
      <div class="jumbotron">
        <h1>Paus</h1>

        {{ if .logged_in }}
        <p>You are now logged in as {{ .username }}.</p>
        {{ else }}
        <p>Docker Compose PaaS</p>
        <div class="text-center">
          <a class="btn btn-success btn-lg" href="/signin" role="button"><span class="octicon octicon-mark-github"></span> Sign in with GitHub</a>
        </div>
        {{ end }}
      </div>

      <h3>1. Sign up with your GitHub account</h3>

      <h3>2. Configure your <code>~/.ssh/config</code></h3>

      <pre>
Host paus
  HostName {{ .baseDomain }}
  User git
  Port 2222
  IdentityFile ~/.ssh/id_rsa</pre>

      <h3>3. Add remote repository</h3>

      <pre>
$ git remote add paus git@paus:username/repository</pre>

      <h3>4. Deploy</h3>

      <pre>
$ git push paus master</pre>

      <pre>
=====> Building...
remote: web uses an image, skipping
=====> Pulling...
remote: Pulling web (localhost:5000/username/repository:latest)...
=====> Deploying...
remote: Creating usernamerepository3432b23_web_1
=====> repository was deployed at http://username-repository-3432b23.{{ .baseDomain }}/
=====> repository was deployed at http://username.{{ .baseDomain }}/
To git@{{ .baseDomain }}:username/repository
2ff821c..3432b23  master -> master</pre>

      <h3>5. Open browser!</h3>

      <pre>$ open http://username.{{ .baseDomain }}/</pre>
    </div>
       </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
