<!DOCTYPE html>
<html>
  <head>
    <title>Paus</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <a href="https://github.com/dtan4/paus-frontend"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

    <div class="container">
      <h1>Paus</h1>

      <h3>1. Upload your name and SSH public key</h3>

      {{ if .alert }}
      <div class="alert {{ if .error }}alert-danger{{ else }}alert-success{{ end }}" role="alert">
        {{ .message }}
      </div>
      {{ end }}

      <form class="form-horizontal" method="POST" action="/submit">
        <div class="form-group">
          <label class="control-label col-sm-2" for="usernameInput">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pubkeyInput">SSH public key</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="pubkeyInput" name="pubKey" placeholder="SSH public key"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>

      <h3>2. Configure your <code>~/.ssh/config</code></h3>

      <pre>
Host paus
  HostName &lt;hostname_or_ip_of_paus&gt;
  User git
  Port 2222
  IdentityFile ~/.ssh/id_rsa</pre>

      <h3>3. Add remote repository</h3>

      <pre>
$ git remote add paus git@paus:repository</pre>

      <h3>4. <code>git push</code> and deploy!</h3>

      <pre>
$ git push paus master</pre>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
