<!DOCTYPE html>
<html>
  <head>
    <title>Paus</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>{{ .user }} Applications</h1>
      {{ if .error }}
      <div class="alert alert-danger" role="alert">
        {{ .message }}
      </div>
      {{ else }}
      <form class="form-inline" method="POST" action="/users/{{ .user }}/apps">
        <div class="form-group">
          <label for="appNameInput">Application name</label>
          <input type="text" class="form-control" id="appNameInput" name="appName" placeholder="Application name">
        </div>
        <button type="submit" class="btn btn-primary">Create new Application</button>
      </form>

      <div class="list-group">
        {{ range .apps }}<a class="list-group-item" href="/users/{{ $.user }}/apps/{{ . }}">{{ . }}</a>{{ else }}No application found{{ end }}
      </div>
      {{ end }}
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
